.cron-box .table-box {
    border-top: 1px solid #ebebeb;
    margin-top: 10px;
    padding-top: 10px;
    min-width: 400px;
  }
  .cron-box .el-tabs .el-tabs__header .el-tabs__nav-prev {
    display: none;
  }
  .cron-box .el-tabs .el-tabs__header .el-tabs__nav-next {
    display: none;
  }
  .cron-box .el-tabs .el-tabs__header .el-tabs__nav-wrap {
    padding: 0 !important;
  }
  .cron-box .el-tabs .el-tabs__header .el-tabs__nav-scroll {
    width: 400px !important;
  }
  .cron-box .el-tabs .el-tabs__header .el-tabs__nav-scroll .el-tabs__item:first-child {
    margin-left: -1px !important;
  }
  .cron-box .el-tabs .el-tabs__content {
    overflow-x: hidden;
    overflow-y: auto;
    /* height: 220px; */
  }
  .cron-box .el-tabs .el-tabs__content::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
  }
  .cron-box .el-tabs .el-tabs__content::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background: #ebebeb;
  }
  .cron-box .el-tabs .el-tabs__content::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);
  }
.second-minute-hour-box {
    font-size: 12px;
  }
  .second-minute-hour-box .box-bottom {
    /* margin-bottom: 8px; */
    width: 100%;
  }
  .second-minute-hour-box .cycle {
    font-size: 12px;
  }
  .second-minute-hour-box .second-minute-chekck-group {
    display: flex;
    flex-wrap: wrap;
  }
  .second-minute-hour-box .el-checkbox + .el-checkbox {
    margin: 0;
  }
  .second-minute-hour-box .second-minute-chekck-group .el-checkbox {
    margin: 0;
    width: 10%;
  }
  .day-and-week-box {
    font-size: 12px;
  }
  .day-and-week-box .box-border {
    height: 0;
    overflow: hidden;
    border-top: 1px dashed #ebebeb;
    margin-bottom: 8px;
    width: 100%;
  }
  .day-and-week-box .box-bottom {
    /* margin-bottom: 8px; */
    width: 100%;
  }
  .day-and-week-box .cycle {
    font-size: 12px;
  }
  .day-and-week-box .second-minute-chekck-group {
    display: flex;
    flex-wrap: wrap;
  }
  .day-and-week-box .el-checkbox + .el-checkbox {
    margin: 0;
  }
  .day-and-week-box .second-minute-chekck-group .el-checkbox {
    margin: 0;
    width: 10%;
    margin-right: 10px;
  }
  .month-box {
    font-size: 12px;
  }
  .month-box .box-bottom {
    /* margin-bottom: 8px; */
    width: 100%;
  }
  .month-box .cycle {
    font-size: 12px;
  }
  .month-box .second-minute-chekck-group {
    display: flex;
    flex-wrap: wrap;
  }
  .month-box .el-checkbox + .el-checkbox {
    margin: 0;
  }
  .month-box .second-minute-chekck-group .el-checkbox {
    margin: 0;
    width: 10%;
  }
  .day-and-week-box {
    font-size: 12px;
  }
  .day-and-week-box .box-border {
    height: 0;
    overflow: hidden;
    border-top: 1px dashed #ebebeb;
    margin-bottom: 8px;
    width: 100%;
  }
  .day-and-week-box .box-bottom {
    /* margin-bottom: 8px; */
    width: 100%;
  }
  .day-and-week-box .cycle {
    font-size: 12px;
  }
  .day-and-week-box .second-minute-chekck-group {
    display: flex;
    flex-wrap: wrap;
  }
  .day-and-week-box .el-checkbox + .el-checkbox {
    margin: 0;
  }
  .day-and-week-box .second-minute-chekck-group .el-checkbox {
    margin: 0;
    width: 10%;
    margin-right: 10px;
  }
  .year-box {
    font-size: 12px;
  }
  .year-box .box-bottom {
    /* margin-bottom: 8px; */
    width: 100%;
  }
  .year-box .cycle {
    font-size: 12px;
  }
  .year-box .second-minute-chekck-group {
    display: flex;
    flex-wrap: wrap;
  }
  .year-box .el-checkbox + .el-checkbox {
    margin: 0;
  }
  .year-box .second-minute-chekck-group .el-checkbox {
    margin: 0;
    width: 10%;
  }