
.iconSelect ul{
	display: flex;
	width: 640px;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	max-height:300px;
	overflow-y: scroll;
	z-index: 9999;
    position: absolute;
    background-color: white;
	/* border: 1px solid #dcdfe6; */
}
.iconSelect li {
	border: 1px solid #dcdfe6;
    margin: 5px 5px;
    padding: 5px 5px;
	list-style: none;
	cursor: pointer;
	justify-content: center;
    align-items: center;
    display: flex;
	width: 10%;
}
.iconSelect input {
	width: 600px;
}
.borderNone{
	border: none;
}
.border{
	border: 1px solid #dcdfe6;
}
